# Environments
backend/venv/
.env

# Dependencies
frontend/node_modules/
__pycache__/
*.pyc

# Next.js build output
frontend/.next/

# Databases
sql_app.db
*.db

# OS files
.DS_Store
backend/uvicorn.log

# Vercel
.vercel
